/Clase02-27052022/ProgramacionEnCapas/nbproject/private/
/Clase02-27052022/ProgramacionEnCapas/build/
/Clase02-27052022/ProgramacionEnCapas/dist/
/Clase03-29052022/AprendiendoJava/nbproject/private/
/Clase03-29052022/AprendiendoJava/build/
/Clase03-29052022/AplicandoLambda/nbproject/private/
/Clase04-31052022/AprendiendoJava/nbproject/private/
/Clase04-31052022/PedidoApp/build/
/Clase04-31052022/PedidoApp/nbproject/private/
/Clase04-31052022/AprendiendoJava/build/
/Clase04-31052022/PagoLaboralV2/build/
/Clase04-31052022/PagoLaboralV2/nbproject/private/
/Clase05-03062022/AprendiendoJava/nbproject/private/
/Clase05-03062022/AprendiendoJava/build/
/Clase05-03062022/EduTecLib/nbproject/private/
/Clase05-03062022/EduTecLib/build/
/Clase05-03062022/DemoLibreria/nbproject/private/
/Clase05-03062022/PromedioApp/nbproject/private/
/Clase05-03062022/EduTecLib/dist/
/Clase05-03062022/PromedioApp/build/
/Clase05-03062022/MateApp/nbproject/private/
/Clase05-03062022/MateApp/build/
/Clase06-05062022/AprendiendoJava/nbproject/private/
/Clase06-05062022/AprendiendoJava/build/
/Clase06-05062022/VentaApp/build/
/Clase06-05062022/VentaApp/nbproject/private/
/Clase07-07062022/AprendiendoJava/nbproject/private/
/Clase07-07062022/AprendiendoJava/build/
/Clase07-07062022/VentaApp/build/
/Clase07-07062022/VentaApp/nbproject/private/
/Clase08-10062022/EurekaApp/target/
