/Clase02-27052022/ProgramacionEnCapas/nbproject/private/
/Clase02-27052022/ProgramacionEnCapas/build/
/Clase02-27052022/ProgramacionEnCapas/dist/
/Clase03-29052022/AprendiendoJava/nbproject/private/
/Clase03-29052022/AprendiendoJava/build/
/Clase03-29052022/AplicandoLambda/nbproject/private/
/Clase04-31052022/AprendiendoJava/nbproject/private/
/Clase04-31052022/PedidoApp/build/
/Clase04-31052022/PedidoApp/nbproject/private/
